/*
 * @Description   高亮状态
 * @Author        Alex_McAvoy
 * @Date          2026-03-13 14:10:54
 */

.bookCollection.media-all .option.media-all,
.bookCollection.media-纸质书 .option.media-纸质书,
.bookCollection.media-电子书 .option.media-电子书,
.bookCollection.pagesRange-all .option.pagesRange-all,
.bookCollection.wordsRange-50万字以下 .option.wordsRange-50万字以下,
.bookCollection.wordsRange-50万到100万字 .option.wordsRange-50万到100万字,
.bookCollection.wordsRange-100万到200万字 .option.wordsRange-100万到200万字,
.bookCollection.wordsRange-200万字以上 .option.wordsRange-200万字以上 {
    background: white;
    box-shadow: 2px 2px 3px #aaa;
}

@media (prefers-color-scheme: dark) {

    .bookCollection.media-all .option.media-all,
    .bookCollection.media-纸质书 .option.media-纸质书,
    .bookCollection.media-电子书 .option.media-电子书,
    .bookCollection.pagesRange-all .option.pagesRange-all,
    .bookCollection.wordsRange-50万字以下 .option.wordsRange-50万字以下,
    .bookCollection.wordsRange-50万到100万字 .option.wordsRange-50万到100万字,
    .bookCollection.wordsRange-100万到200万字 .option.wordsRange-100万到200万字,
    .bookCollection.wordsRange-200万字以上 .option.wordsRange-200万字以上 {
        background: #666;
        box-shadow: 2px 2px 3px #444;
    }
}