/*
 * @Description   全局基础样式
 * @Author        Alex_McAvoy
 * @Date          2026-03-13 14:02:23
 */

* {
  font-family: 仿宋, 微软雅黑;
}

body {
  margin: 20px;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #48474B;
    color: #DEDEDC;
  }
}

a {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
@media (prefers-color-scheme: dark) {
  a, a:visited {
    color: #DEDEDC;
  }
}