/*
 * @Description   全局基础样式
 * @Author        Alex_McAvoy
 * @Date          2026-03-13 14:02:23
 */

* {
  font-family: 仿宋, 微软雅黑;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  background: url("../images/common/bg.png") no-repeat center center fixed;
  background-size: cover; 
  color-scheme: light dark;
  margin: 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #DEDEDC;
  }
}

