/*
 * @Description   评分
 * @Author        Alex_McAvoy
 * @Date          2026-03-13 14:08:44
 */
.book .rating {
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 3px;
}

.book .rating .star {
  color: #F5B943;
}
.book .rating .hollowStar {
  color: #ccc;
}